<div class="row">
      <div class="span6 offset1">
        <h3>请输入SSID  </h3>
        <p></p>
        <%= form_tag "/modifyssid", :remote => true do %>
          <%= hidden_field_tag :id, @access.id %>
  <div class="field">
          <%= text_field_tag :ssid, params[:name] %>
        </div>
         <%= submit_tag "确认", :class => "btn btn-large btn-primary" %>
      <% end %>
      <p></p>
      <div id="ssidreply"></div>
    </div>
  </div>
