.form-control .select2-choice {
	padding: 3px 0px 0px 12px; border: 1px solid rgb(229, 229, 229); height: 34px;  background-image: none; background-color: rgb(255, 255, 255);
}
.select2-drop-above.select2-container .select2-choice {
	border-bottom-color: rgb(229, 229, 229);  background-image: none; background-color: rgb(255, 255, 255);
}
.select2-drop {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(229, 229, 229) rgb(229, 229, 229); box-shadow: none; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none;
}
.select2-drop-auto-width {
	border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.select2-drop-above.select2-drop {
	border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid; box-shadow: none; -webkit-box-shadow: none;
}
.select2-drop-active {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(153, 153, 153) rgb(153, 153, 153);
}
.select2-container .select2-choice .select2-arrow {
	border-left-color: rgb(229, 229, 229); border-left-width: 1px; border-left-style: solid;  background-image: none; background-color: rgb(255, 255, 255);
}
.select2-container-active.select2-container .select2-arrow {
	border-left-color: currentColor !important; border-left-width: 0px !important; border-left-style: none !important;
}
.select2-dropdown-open.select2-container .select2-arrow {
	border-left-color: currentColor !important; border-left-width: 0px !important; border-left-style: none !important;
}
.select2-container .select2-choice .select2-arrow b {
	background: url("../img/select2.png") no-repeat 0px 1px;
}
.select2-search input {
	margin: 5px 0px 0px; padding: 6px !important; outline: 0px; border: 1px solid rgb(229, 229, 229); height: auto !important; color: rgb(51, 51, 51); line-height: 20px; font-size: 14px; font-weight: normal; vertical-align: top;  min-height: 26px; box-shadow: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none; webkit-appearance: none;
}
.select2-container.form-control {
	padding: 0px; border: 0px currentColor; height: auto !important;
}
.select2-container-active .select2-choice {
	border: 1px solid rgb(153, 153, 153) !important; box-shadow: none !important; -webkit-box-shadow: none;
}
.select2-container-active .select2-choices {
	border: 1px solid rgb(153, 153, 153) !important; box-shadow: none !important; -webkit-box-shadow: none;
}
.select2-dropdown-open .select2-choice {
	border-bottom-color: currentColor !important; border-bottom-width: 0px !important; border-bottom-style: none !important;  box-shadow: none !important; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none;
}
.select2-drop-above.select2-dropdown-open .select2-choice {
	border-width: 0px 1px 1px !important; border-style: none solid solid !important; border-color: currentColor rgb(153, 153, 153) rgb(153, 153, 153) !important;  box-shadow: none !important; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none;
}
.select2-drop-above.select2-dropdown-open .select2-choices {
	border-width: 0px 1px 1px !important; border-style: none solid solid !important; border-color: currentColor rgb(153, 153, 153) rgb(153, 153, 153) !important;  box-shadow: none !important; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none;
}
.select2-drop-active.select2-drop-above.select2-drop {
	border-width: 1px 1px 0px !important; border-style: solid solid none !important; border-color: rgb(153, 153, 153) rgb(153, 153, 153) currentColor !important;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
	background-position: -18px 1px;
}
.select2-results {
	margin: 5px 0px;
}
.select2-results .select2-highlighted {
	background: rgb(238, 238, 238); color: rgb(51, 51, 51);
}
.select2-results li em {
	background: rgb(254, 255, 222); font-style: normal;
}
.select2-results .select2-highlighted em {
	
}
.select2-results .select2-highlighted ul {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
.select2-results .select2-no-results {
	background: rgb(244, 244, 244); padding: 3px 7px 4px; display: list-item;
}
.select2-results .select2-searching {
	background: rgb(244, 244, 244); padding: 3px 7px 4px; display: list-item;
}
.select2-results .select2-selection-limit {
	background: rgb(244, 244, 244); padding: 3px 7px 4px; display: list-item;
}
.select2-container-multi .select2-choices {
	border: 1px solid rgb(229, 229, 229); padding-left: 6px;  min-height: 34px; box-shadow: none !important; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none;
}
.select2-container-active.select2-container-multi .select2-choices {
	border: 1px solid rgb(153, 153, 153) !important;  box-shadow: none !important; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-choice {
	margin: 5px 0px 3px 5px; padding: 3px 5px 3px 18px; border: 1px solid rgb(229, 229, 229);  box-shadow: none !important; background-image: none; background-color: rgb(255, 255, 255); -webkit-box-shadow: none;
}
.warning .select2-container .select2-choice {
	border: 1px solid rgb(192, 152, 83);
}
.warning .select2-container .select2-choices {
	border: 1px solid rgb(192, 152, 83);
}
.warning .select2-container-active.select2-container-multi .select2-choices {
	border: 1px solid rgb(192, 152, 83);
}
.warning .select2-container .select2-choice .select2-arrow {
	border-left-color: rgb(192, 152, 83); border-left-width: 1px; border-left-style: solid;
}
.error .select2-container .select2-choice {
	border: 1px solid rgb(185, 74, 72);
}
.error .select2-container .select2-choices {
	border: 1px solid rgb(185, 74, 72);
}
.error .select2-container-active.select2-container-multi .select2-choices {
	border: 1px solid rgb(185, 74, 72);
}
.error .select2-container .select2-choice .select2-arrow {
	border-left-color: rgb(185, 74, 72); border-left-width: 1px; border-left-style: solid;
}
.info .select2-container .select2-choice {
	border: 1px solid rgb(58, 135, 173);
}
.info .select2-container .select2-choices {
	border: 1px solid rgb(58, 135, 173);
}
.info .select2-container-active.select2-container-multi .select2-choices {
	border: 1px solid rgb(58, 135, 173);
}
.info .select2-container .select2-choice .select2-arrow {
	border-left-color: rgb(58, 135, 173); border-left-width: 1px; border-left-style: solid;
}
.success .select2-container .select2-choice {
	border: 1px solid rgb(70, 136, 71);
}
.success .select2-container .select2-choices {
	border: 1px solid rgb(70, 136, 71);
}
.success .select2-container-active.select2-container-multi .select2-choices {
	border: 1px solid rgb(70, 136, 71);
}
.success .select2-container .select2-choice .select2-arrow {
	border-left-color: rgb(70, 136, 71); border-left-width: 1px; border-left-style: solid;
}
.modal-open .select2-drop-mask {
	z-index: 10101;
}
.modal-open .select2-drop {
	z-index: 10102;
}
.modal-open .select2-search {
	z-index: 10102;
}
