<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title class="siteValue" id="title">信产无验证</title>
<link href="/assets/portal/auth_module/css/authorize.css" rel="stylesheet" media="screen"><link href="/assets/portal/template/xcgs/css/template.css" rel="stylesheet" media="screen">
<script src="/assets/portal/auth_module/js/jquery-1.11.0.min.js"></script><script src="/assets/portal/template/xcgs/js/template.js"></script><script src="/assets/portal/auth_module/js/authorize.js"></script><script src="/assets/portal/template/xcgs/js/smallslider.js"></script>



<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>

<style type="text/css">body {margin:0px;padding:0px;}</style>
</head>
<body>
<div class="portalTemplateBody">
<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
<div id="Logo001" class="ggtop bs-docs-nav contentImage siteComponent" style="width: 480px;">
<a href="javascript:;" id="url" class="siteSource"><img src="/assets/portal/template/xcgs/img/logo_01.png" id="thumb" class="siteResource"></a>
</div>
</div>
<div class="siteModules" id="siteSliderModuleBox" title="广告轮播" style="width: 480px; height: 240px;">
<a href="javascript:;" class="sliderBrowse" id="sliderToPrev" style="top: 60px; width: 60px; height: 120px; background-size: 58px 120px;">&nbsp;</a>
<a href="javascript:;" class="sliderBrowse" id="sliderToNext" style="top: 60px; width: 60px; height: 120px; background-size: 58px 120px;">&nbsp;</a>
<div class="sliderNavigator" style="width: 83px; left: 208.5px;"></div>
<div class="sliderNavigator" id="sliderNaviList" style="width: 83px; left: 208.5px;"><a href="javascript:;" class="">&nbsp;</a><a href="javascript:;" class="">&nbsp;</a><a href="javascript:;" class="active">&nbsp;</a></div>
<div id="Slider001" class="sliderItem siteComponent" style="display: none;">
<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/portal/template/xcgs/img/lun_01.jpg" class="siteResource"></a>
</div>
<div id="Slider002" class="sliderItem siteComponent" style="display: none;">
<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/portal/template/xcgs/img/lun_02.jpg" class="siteResource"></a>
</div>
<div id="Slider003" class="sliderItem siteComponent" style="display: block;">
<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/portal/template/xcgs/img/lun_03.jpg" class="siteResource"></a>
</div>
</div>
<div id="siteColumnModuleBox1" class="siteModules divTitle" title="栏目名称">
<div id="column101" class="contentTitle siteComponent">
<span id="title" class="siteValue">关于爱WiFi联盟 </span>
</div>
</div>
<div class="siteModules" id="siteImageTextModuleBox" title="图文信息">
<ul>
<li id="textSpan001" class="siteComponent">
<div style="height: 120px;">
<img id="thumb" alt="" src="/assets/portal/template/xcgs/img/biao_03.png" class="siteResource">
<span id="description" class="siteValue" style="width: 340px;">爱wifi联盟为加盟商户提供一体化移动营销解决方案。客户进入商家免费使用极速稳定wifi上网服务；通过移动互联网营销模式为商家留住更多客户，获取更多利益。
						</span>
</div>
</li>
</ul>
</div>
<div id="sitedevModuleBox" title="设备信息">
<ul>
<li id="textSpan002">
<div style="height: 120px;">
<div class="devimg" style="height: 120px;">
<span>
						 目前已有</span><span class="badge badge-info" id="lb_onlines">5</span><span>人与您同时在线,</span><br>
<span>这是您第</span><span class="badge badge-info" id="lb_linknum">77</span><span>次登陆,</span><br>
<span>网络状况</span><span id="baoman" class="baomancss"></span><span>爆满</span><span id="zhengchang" class="zhengchangcss_o"></span><span>正常</span><span id="kongxian" class="kongxiancss"></span><span>空闲</span>
</div>
</div>
</li>
</ul>
</div>
<div id="siteColumnModuleBox2" class="siteModules divTitle" title="栏目名称">
<div id="column201" class="contentTitle siteComponent">
<span id="title" class="siteValue"> 值得推荐  </span>
</div>
</div>
<div class="siteModules" id="siteImageTJModule" title="产品推荐">
<ul>
<li id="ImageSpan001" class="siteComponent">
<div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/portal/template/xcgs/img/kuang_01.jpg" class="siteResource"></a></div>
</li>
<li id="ImageSpan002" class="siteComponent">
<div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/portal/template/xcgs/img/kuang_02.jpg" class="siteResource"></a></div>
</li>
<li id="ImageSpan003" class="siteComponent">
<div class="imageSpanBox"><a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/portal/template/xcgs/img/kuang_03.jpg" class="siteResource"></a></div>
</li>
</ul>
</div>
<div id="siteColumnModuleBox3" class="siteModules divTitle" title="栏目名称">
<div id="column301" class="contentTitle siteComponent">
<span id="title" class="siteValue"> 我们的优势  </span>
</div>
</div>
<div class="siteModules" id="siteTextBlockModuleBox" title="文本信息">
<ul>
<li id="textBlockSpan001" class="siteComponent">
<div class="div1">
<span id="title" class="siteValue titletext">私人定制</span>
<span id="description" class="siteValue">
	                    	多套主题模板<br>总有属于你的私人定制
	                    </span>
</div>
</li>
<li id="textBlockSpan002" class="siteComponent">
<div class="div2">
<span id="title" class="siteValue titletext">精确营销</span>
<span id="description" class="siteValue">精准数据分析<br>提供针对性营销服务</span>
</div>
</li>
<li id="textBlockSpan003" class="siteComponent">
<div class="div3">
<span id="title" class="siteValue titletext">稳如泰山</span>
<span id="description" class="siteValue">信号超稳定<br>不掉线不坑爹</span>
</div>
</li>
<li id="textBlockSpan004" class="siteComponent">
<div class="div4">
<span id="title" class="siteValue titletext">周到服务</span>
<span id="description" class="siteValue">实施快捷，管理方便<br>安全保修，微笑服务</span>
</div>
</li>
</ul>
</div>
<div id="siteColumnModuleBox4" class="siteModules divTitle" title="栏目名称">
<div id="column401" class="contentTitle siteComponent">
<span id="title" class="siteValue"> 关于我们   </span>
</div>
</div>
<div id="siteArticleViewModuleBox" class="siteModules" title="文本内容">
<div id="textSpan003" class="articleText siteComponent">
<span id="description" class="siteValue">浙江省公众信息产业有限公司是一家专注于移动互联网领域，致力于先进移动互联网技术的本地化应用，协助于企业基于在无线网络应用上的门户营销为核心的倡导者。全新开发的云傲系列智能路由器，改变了国内路由器应用单一，功能简单的现状，可以为企业提供综合的、符合企业自身管理需求的各项功能，从而提升企业在互联网应用的效率和管理水平。2013年推出无线微门户产品，可以为餐厅，酒店，展会，大厦，体闲娱乐等大中型消费场所提供无线网络解决方案及营销推广服务。
        	</span>
</div>
</div>
<div class="siteModules" id="siteLoginModuleBox" role="auth" platsvraddr="42.123.76.18" title="用户登陆" style="width: 480px;"><div class="auth-type-components"><div class="auth-type-components-view"><div class="auth-type-body auth-option" id="OPTION"></div></div><div class="auth-type-list-item"><ul><li><a href="javascript:;" class="option">&nbsp;</a></li></ul></div><div class="auth-component-button" style="display: block;"><button class="fee-wifi-config" type="button">点击免费上网</button></div></div></div>
</div>

<script type="text/javascript" src="/assets/portal/auth_module/js/jquery.client.js"></script></body></html>
