<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title class="siteValue" id="title">iwifi-登录页 </title>
<link href="/assets/resources/portal/template/dly/css/template.css" rel="stylesheet" media="screen">
<script src="/assets/resources/portal/auth_module/js/jquery-1.11.0.min.js"></script><script src="/assets/resources/portal/template/dly/js/template.js"></script><script src="/assets/resources/portal/template/dly/js/smallslider.js"></script>



<script type="text/javascript">$(document).ready(function(){MyTemplate.init();})</script>
<style type="text/css">body {margin:0px;padding:0px;}</style>
</head>
<body>
<div class="portalTemplateBody">
<div class="siteModules" id="siteLogoViewModuleBox" title="Logo信息">
<div id="Logo001" class="ggtop bs-docs-nav contentImage siteComponent" style="width: 480px;">
<a href="javascript:;" id="url" class="siteSource"><img src="/assets/resources/portal/template/dly/img/logo_01.png" id="thumb" class="siteResource"></a>
<a href="javascript:;" class="siteMenu">&nbsp;</a>
<div class="userActiveMenu">
<a href="javascript:;" class="MenuIcon">&nbsp;</a>
<div class="userActive">
<a class="apklink" href="http://www.smartzg.cn/iwifi/iwifi.apk">&nbsp; </a>
<a class="ioslink" href="javascript:;">&nbsp; </a>
</div>
</div>
</div>
</div>
<div id="siteLocationModuleBox" title="访问地址">
<div class="Location-Line">&nbsp;</div>
<div class="Location-Form">
<table align="center">
<tbody><tr>
<td colspan="3"><button type="button" class="LocationSubmitID">http://www.ifeng.com/</button></td>
</tr>
</tbody></table>
</div>
</div>
<div class="siteModules" id="siteSliderModuleBox" title="广告轮播" style="width: 480px; height: 240px;">
<a href="javascript:;" class="sliderBrowse" id="sliderToPrev" style="top: 60px; width: 60px; height: 120px; background-size: 58px 120px;">&nbsp;</a>
<a href="javascript:;" class="sliderBrowse" id="sliderToNext" style="top: 60px; width: 60px; height: 120px; background-size: 58px 120px;">&nbsp;</a>
<div class="sliderNavigator" style="width: 83px; left: 208.5px;"></div>
<div class="sliderNavigator" id="sliderNaviList" style="width: 83px; left: 208.5px;"><a href="javascript:;" class="">&nbsp;</a><a href="javascript:;" class="active">&nbsp;</a><a href="javascript:;" class="">&nbsp;</a></div>
<div id="Slider001" class="sliderItem siteComponent" style="display: none;">
<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/resources/portal/template/dly/img/lun_01.jpg" class="siteResource"></a>
</div>
<div id="Slider002" class="sliderItem siteComponent" style="display: block;">
<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/resources/portal/template/dly/img/lun_02.jpg" class="siteResource"></a>
</div>
<div id="Slider003" class="sliderItem siteComponent" style="display: none;">
<a href="javascript:;" id="url" class="siteSource"><img id="thumb" src="/assets/resources/portal/template/dly/img/lun_03.jpg" class="siteResource"></a>
</div>
</div>
<div class="siteModules" id="siteImagequickModule" title="名站导航">
<ul>
<li id="quickSpan001" class="siteComponent">
<div class="imageSpanBox"><a href="http://3g.ifeng.com" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_001.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://3g.ifeng.com" id="url" class="siteSource"><span id="title" class="siteValue">新闻资讯</span></a></div>
</li>
<li id="quickSpan002" class="siteComponent">
<div class="imageSpanBox"><a href="http://www.youku.com" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_002.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://www.youku.com" id="url" class="siteSource"><span id="title" class="siteValue">经典影视</span></a></div>
</li>
<li id="quickSpan003" class="siteComponent">
<div class="imageSpanBox"><a href="http://m.apk.hiapk.com/#topic/topiclist:244" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_003.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://m.apk.hiapk.com/#topic/topiclist:244" id="url" class="siteSource"><span id="title" class="siteValue">热门游戏</span></a></div>
</li>
<li id="quickSpan004" class="siteComponent">
<div class="imageSpanBox"><a href="http://m.apk.hiapk.com/#ranking" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_004.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://m.apk.hiapk.com/#ranking" id="url" class="siteSource"><span id="title" class="siteValue">精品推荐</span></a></div>
</li>
<li id="quickSpan005" class="siteComponent">
<div class="imageSpanBox"><a href="http://www.smartzg.cn/iwifi/download/com.tencent.mm_com.tencent.mm.ui.LauncherUI.apk" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_005.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://www.smartzg.cn/iwifi/download/com.tencent.mm_com.tencent.mm.ui.LauncherUI.apk" id="url" class="siteSource"><span id="title" class="siteValue">微信</span></a></div>
</li>
<li id="quickSpan006" class="siteComponent">
<div class="imageSpanBox"><a href="http://www.smartzg.cn/iwifi/download/com.UCMobile_com.UCMobile.main.UCMobile.apk" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_006.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://www.smartzg.cn/iwifi/download/com.UCMobile_com.UCMobile.main.UCMobile.apk" id="url" class="siteSource"><span id="title" class="siteValue">UC浏览器</span></a></div>
</li>
<li id="quickSpan007" class="siteComponent">
<div class="imageSpanBox"><a href="http://www.smartzg.cn/iwifi/download/com.taobao.taobao_com.taobao.tao.welcome.Welcome.apk" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_007.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://www.smartzg.cn/iwifi/download/com.taobao.taobao_com.taobao.tao.welcome.Welcome.apk" id="url" class="siteSource"><span id="title" class="siteValue">淘宝</span></a></div>
</li>
<li id="quickSpan008" class="siteComponent">
<div class="imageSpanBox"><a href="http://www.smartzg.cn/iwifi/download/com.dianping.v1_com.dianping.v1.SplashScreenActivity.apk" id="url" class="siteSource"><img id="thumb" class="siteResource" src="/assets/resources/portal/template/dly/img/logo_008.png"></a></div>
<div class="imageSpanTitle imageSpanTitleText"><a href="http://www.smartzg.cn/iwifi/download/com.dianping.v1_com.dianping.v1.SplashScreenActivity.apk" id="url" class="siteSource"><span id="title" class="siteValue">大众点评</span></a></div>
</li>
</ul>
</div>
<div class="siteModules" id="siteImageTJModule" title="产品推荐">
<ul>
<li id="ImageSpan001" class="siteComponent">
<div class="imageSpanBox"><a href="http://news.9conn.net?uid=android&amp;device=android" id="url" class="siteSource"><img id="thumb" src="/assets/resources/portal/template/dly/img/tu_01.jpg" class="siteResource"></a></div>
</li>
<li id="ImageSpan002" class="siteComponent">
<div class="imageSpanBox"><a href="http://122.224.223.152:8085/hzcheck-in/test/qiandao.action?sc_account=x" id="url" class="siteSource"><img id="thumb" src="/assets/resources/portal/template/dly/img/tu_02.jpg" class="siteResource"></a></div>
</li>
<li id="ImageSpan003" class="siteComponent">
<div class="imageSpanBox"><a href="http://bendi.m.taobao.com/coupon/q/index.htm" id="url" class="siteSource"><img id="thumb" src="/assets/resources/portal/template/dly/img/tu_03.jpg" class="siteResource"></a></div>
</li>
</ul>
</div>
<div style="height:60px;">&nbsp;</div>
<div id="siteFooterGGModuleBox" class="siteModules" title="浮动文本">
<div id="ggSpan001" class="ggbottom tnavbar-default footertext siteComponent" style="width: 480px;">
<span id="title" class="siteValue ">
					 加盟热线: 4008-899-899
				</span>
</div>
</div>
</div>

</body></html>
