<h1>File Upload</h1>
 <form name="photo" enctype="multipart/form-data" action="/uploadfile" method="post">
    Photo <input type="file" name="image"  id="image" size="30"  /> 
    <input type="submit" name="upload" value="Upload"  class="button" />
    </form>

